# Entorno virtual
venv/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Configuración local
.env
.env.*

# Cobertura de tests
.coverage
htmlcov/

# Builds/artefactos
dist/
build/

# Editores y SO
.vscode/
.idea/
.DS_Store
Thumbs.db


.agents
.agent/
